html{
    box-sizing: border-box;
    font-size: 10px;
    background: url('images/back.png');
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    padding: 0;
    margin: 0;
    font-family: Gotham;
}
.START 
{ 
	 left: 428px; 
	 top: 301px; 
	 position: absolute; 
	 width: 510px;
	 height: 187px;
} 
.SMASHMARIO 
{ 
	 left: 285px; 
	 top: 24px; 
	 position: absolute; 
	 width: 785px;
	 height: 93px;
	 z-index:1;
}
.SCOREs
{ 
	 left: 984px; 
	 top: 178px; 
	 position: absolute; 
	 width: 360px;
	 height: 93px;
	 z-index:13;
} 
.play 
{ 
	 left: 1173px; 
	 top: 26px; 
	 position: absolute; 
	 width: 61px;
	 height: 89px;
	 z-index:3;
} 

.restart 
{ 
	 left: 1253px; 
	 top: 31px; 
	 position: absolute; 
	 width: 85px;
	 height: 85px;
	 z-index:4;
} 

h1{
    text-align: center;
    font-size: 10rem;
    line-height: 1;
    margin-bottom: 0;
}
.score{
    font-family: Gotham;
    font-size: 150px;
    color:eb5443;
    left: 1110px; 
	top: 291px; 
	position: absolute;
    padding: 0 3.rem;
    line-height: 1;
    border-radius: 1rem;
}
.game{
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.tube{
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
}
.tube:after{
    display: block;
    background: url('images/tube.png') ;
    background-size: contain;
    content: '';
    width: 120px;
    height: 80px;
    position: absolute;
    z-index: 2;
    bottom: 30px;
}
.mario{
    background:url('images/mario.png');
    background-size:95%;
    position: absolute;
    top: 100%;
    width: 115px;
    height: 110px;
    transition: all 0.5s;
}
.tube.up .mario{
    top: 0;
}